* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Courier New', Courier, monospace;
}

.page__body {
  margin: auto;
  background-color: aliceblue;
  min-width: 320px;
}

.title {
  margin: 0 auto;
  max-width: 320px;
}

.accordion {
  width: fit-content;
  margin: 0 auto;
  color: olivedrab;
  border: 1px solid red;
}

.accordion:hover {
  color:  black;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  border: 1px solid black;
  background-color: whitesmoke;
  margin: 0 auto;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.category__checkbox {
  display: none;
}

.category:has(.category__checkbox:checked) {
  color: red;
}

.category__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  transform: scale(0);
  max-height: 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.category:has(.category__checkbox:checked) > .category__img {
  transform: scaleY(1);
  max-height: fit-content;
}

.category:hover > .category__img {
  transform: scaleY(1);
  max-height: fit-content;
}

.summary__icon {
  transform: rotate(45deg);
  transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.category:has(.category__checkbox:checked) .summary__icon {
  transform: rotate(0deg);
  stroke: red;
}

.category:hover .summary__icon {
  transform: rotate(0deg);
}